.wrapper 
{
    border-style : solid;
    height: 100px;
    padding-top : 25px;
    border-top: 2px;
    border-color : blue;
}
.button 
{
    float: right;
    border-style : solid;
    border : 1px, 1px, 1px, 1px;
    padding : 5px;
    margin-left: 10px;
}