<div class="wrapper">
    <div class ="row">
        <div id="daily_weather_date" class="col-8">
            <p aria-label="The name of the service"> Daily</p>
            <div class ="row">
                <!--  JL: modified column sizes to make the inteface react more nicely to font increase  -->
                <div id='date' class = "col-4" aria-label="Today's date">
                    <p>{{date}}</p> <!-- Use of Interpolation -->
                </div>
                <div id='Weather' class = "col-4" aria-label="The weather forecast" aria-live="assertive">
                    <p>Weather</p>
                </div>

            </div>
        </div>

        <div class="col-2">

            <p class ="button">
               <!-- Register -->
              <button role="button" ngbDropdownItem routerLink="registration" id="RegistrationButton">Register</button>
            </p>
        </div>

        <div class="col-2">
            <p class ="button">
               <!-- LogIn -->
               <button role="button" aria-roledescription="Button to click to access the login form"   ngbDropdownItem routerLink="/" aria-label="The button to click on to login">Login</button>

        <!--    <p class ="button" > -->
               <!-- Register -->
               <button role="button" aria-roledescription="Button to click to create a free account" ngbDropdownItem routerLink="registration" aria-label="The button to click on to create an account to use the service">Register</button>
        
            </p>
        </div>

        <div class="col-2" role="note">
            <!--  https://www.w3.org/WAI/GL/wiki/Using_aria-flowto   -->
            <p class = "button" aria-label="An invitation to create an account for free and to use the service" aria-flowto="RegistrationButton">
                Try It Free
            </p> 
        </div>
        
    </div>
</div>