<div class="wrapper">
    <div class ="row">
        <div id="daily_weather_date" class="col-8">
            <p>Daily</p>
            <div class ="row">
                <!--  JL: modified column sizes to make the inteface react more nicely to font increase  -->
                <div id='date' class = "col-4">
                    <p>{{date}}</p> <!-- Use of Interpolation -->
                </div>
                <div id='Weather' class = "col-4">
                    <p>Weather</p>
                </div>

            </div>
        </div>

        <div class="col-2">
            <p class ="button">
               <!-- LogIn -->
               <button ngbDropdownItem routerLink="registration">Register</button>
            </p>
        </div>

        <div class="col-2">
            <p class = "button">
                Try It Free
            </p> 
        </div>
        
    </div>
</div>