<div class="wrapper">
    <div class ="row">
        <div id="daily_weather_date" class="col-8">
            <p>Daily</p>
            <div class ="row">
                <div id='date' class = "col-2">
                    <p>Date</p>
                </div>
                <div id='Weather' class = "col-2">
                    <p>Weather</p>
                </div>

            </div>
        </div>

        <div class="col-2">
            <p class ="button">
               <!-- LogIn -->
               <button ngbDropdownItem routerLink="registration">Register</button>
            </p>
        </div>

        <div class="col-2">
            <p class = "button">
                Try It Free
            </p> 
        </div>
        
    </div>
</div>