.wrapper 
{
    background-color: grey;
    
}

#Register{
    text-align: right;
}

.button 
{
    padding-top: 25px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#daily_weather_date{color:#14181c;}


