.welcome 
{
    text-align: center;
    padding-top: 100px;
    background-image: url();
}

.accessibility{background-color: #767676; color:black;}

#dropdownMenuButton{background-color: #767676;}

#increaseFont{background-color: #767676;}

#decreaseFont{background-color: #767676;}

.btn{background-color: grey;}

.fontSize{background-color: grey;}