.welcome 
{
    text-align: center;
    padding-top: 100px;
    background-image: url();
}

.accessibility{background-color: #767676; color:black;}

.btn{background-color: grey;}

.fontSize{background-color: grey;}