 

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Click on the button to select a different font for the text
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Arial,Sans-serif</a>
      <a class="dropdown-item" href="#">Courrier,monospace;</a>
      <a class="dropdown-item" href="#">Helvetica, sans-serif;</a>
      <a class="dropdown-item" href="#">Verdana, sans-serif;</a>
    </div>
</div>

<button id="fontSizeButton" type="button" class="btn btn-primary" (click)=increaseFontSize()>Click to increase the font size</button>
<button id="fontSizeButton" type="button" class="btn btn-primary" (click)=decreaseFontSize()>Click to decrease the font size</button>

<h1 class = "welcome">
    Welcome to Accessible To do Application
</h1>
<p style="text-align: center; font-size: large;">Try it for free</p>